init_files/
# output/ #commented to include output
# *~ #commented
build/
class
*.prof
libclass.a
*out
python/classy.c
python/*.pyc
python/build/i
ini_files
.vscode/
*.pyc
python/build/
RealSpaceInterface/cache/
